ELMAH-Viewer/Configuration/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:ELMAH_Viewer.Configuration" elementFormDefault="qualified" targetNamespace="urn:ELMAH_Viewer.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="settings" type="tns:ELMAH_Viewer.Configuration.SettingsSectionCT" />
	<xs:complexType name="ELMAH_Viewer.Configuration.SettingsSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="savedConnections" type="tns:ELMAH_Viewer.Configuration.SavedConnectionsCollectionCT">
				<xs:annotation>
					<xs:documentation>The SavedConnections.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="sources" type="tns:ELMAH_Viewer.Configuration.SourcesElementCT">
				<xs:annotation>
					<xs:documentation>The Sources.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="results" type="tns:ELMAH_Viewer.Configuration.ResultsElementCT">
				<xs:annotation>
					<xs:documentation>The Results.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ELMAH_Viewer.Configuration.SavedConnectionsCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="connection" type="tns:ELMAH_Viewer.Configuration.ConnectionElementCT">
				<xs:annotation>
					<xs:documentation>The ConnectionElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ELMAH_Viewer.Configuration.ConnectionElementCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="provider" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Provider.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ELMAH_Viewer.Configuration.SourcesElementCT">
		<xs:attribute name="location" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Location.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ELMAH_Viewer.Configuration.ResultsElementCT">
		<xs:attribute name="resultsPerPage" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The ResultsPerPage.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
